$mainPurple: #6C28B1;
$white: #ECF0F1;

@media (max-width: 1080px) {
	body {
		background: url(../images/tile.png);
	}

	.purple {
		opacity: 0.9;
	}

	.background {
		display: none;
	}
	header {
		height: auto;
		.tile {
			background: linear-gradient(135deg, #5507A6, #9453D7);
			opacity: 0.9;
			width: 700px;
			height: 90vh;
			margin: 2% auto;
			justify-content: center;
		}
		h1 {
			font-size: 3rem;
			font-weight: 300;
		}
		h2 {
			display: block;
			font-size: 10rem;
			text-transform: uppercase;
			margin-top:0;

		}
		button {
			background: none;
			color: white;
			border: 3px white solid;
			&:hover {
				background:white;
				color: purple;
			}
		}
	}
	.questions {
		padding-top: 50px;
	}

} //end of 1080px

@media (max-width:700px) {
	header {
		.tile {
			width: 100%;
			height: 100vh;
			margin: 0;
		}
	}

	.questions {
		padding: 0;
		.formContainer {
			width: 100%;
			background: none;
			fieldset {
			display: flex;
			flex-direction: column;
			h2 {
				margin-bottom: 0;
			}
			}
			input[type=radio] {
				height: 30px;
			}
		}
	}

	.answers {
		padding: 0;
		.gallery {
			width: 100%;
			.gallery-cell {
				height: 100vh;
				.imageContainer {
					img {
						height: 100%;
					}
				}
			}

		}
	}
} //end of 700px

@media (max-width:620px) {
	.answers {
		.gallery {
			.gallery-cell {
				p {
					line-height: 2.5rem;
				}
				.imageContainer {
					img {
						width: 200%;
						position: relative;
						left: -40%;
					}
				}
			}
		}
	}
} //end of 620px

@media (max-width: 570px) {
	header {
		h2 {
			font-size: 9rem;
		}
	}
} //end of 570px

@media (max-width: 490px) {
	header {
		h2 {
			font-size: 8rem;
		}
	}
} //end of 490px

@media (max-width: 430px) {
	header {
		h2 {
			font-size: 6rem;
		}
	}
} //end of 430px