$mainPurple: #6C28B1;
$white: #ECF0F1;

@media (max-width: 1080px) {
	body {
		background: url(../images/tile.png);
	}

	.purple {
		opacity: 0.9;
	}

	header {
		height: auto;
		.tile {
			background: linear-gradient(135deg, #5507A6, #9453D7);
			opacity: 0.9;
			width: 700px;
			height: 90vh;
			margin: 2% auto;
			justify-content: center;
		}
		h1 {
			font-size: 3rem;
			font-weight: 300;
		}
	}
	.questions {
		padding-top: 50px;
	}

} //end of 1080px

@media (max-width:700px) {
	header {
		.tile {
			width: 100%;
			height: 100vh;
			margin: 0;
		}
	}

	.questions {
		padding: 0;
		.formContainer {
			width: 100%;
			background: none;
			fieldset {
			display: flex;
			flex-direction: column;
			h2 {
				margin-bottom: 0;
			}
			}
			input[type=radio] {
				height: 30px;
			}
		}
	}

	.answers {
		padding: 0;
		.main-carousel {
			width: 100%;
			.carousel-cell {
				width: 100%;
				.overlay {
					margin-top: 0;
					p {
						font-size: 1.4rem; 
					}
				}
			}

		}
	}
} //end of 700px

@media (max-width:620px) {
	.answers {
		.main-carousel {
			.carousel-cell {
				.imgContainer {
					background-position: top;
					padding-bottom: 75%;
				}
				.purple {
					display: none;
				}
				.mobilePurple {
					display: block;
				}
				.overlay {
					position: static;
					color: $mainPurple;
					padding: 10px;
				}
				p {
					line-height: 2.5rem;
					text-align: center;
				}
				.colContainer {
					border: 0;
					position: relative;
					left: 0;
					right: 0;
					bottom: auto;
					.col {
						float: none;
						width: 100%;
						text-align: center;
						padding: 5px;
					}
					a {
						color: darken($mainPurple, 10%);
					}

				}
			}
		}
	}
} //end of 620px

@media (max-width: 570px) {
	header {
		h2 {
			font-size: 9rem;
		}
	}
} //end of 570px

@media (max-width: 490px) {
	header {
		h2 {
			font-size: 8rem;
		}
	}
} //end of 490px

@media (max-width: 430px) {
	header {
		h2 {
			font-size: 6rem;
		}
	}
} //end of 430px