@import "setup";
@import "grid";

$mainPurple: #6C28B1;
$white: #ECF0F1;

	html {
		font-size: 62.5%;
	}

	body {
		font-family: 'Lato', sans-serif;
		font-size: 1.6rem;
		color: $white;
		background: url(../images/tile.png);
		a {
			color: $white;
			text-decoration: none;
		}
		p, label {
			font-weight: 300;
		}
		h3 {
			color: $mainPurple;
			font-size: 2.5rem;
			text-align: center;
		}
	}

	.opacity {
		opacity: .2;
		transition: all .2s;
	}

	.wrapper {
		max-width: 1280px;
		margin: 0 auto;
		position: relative;
	}

	header {
		transition: all .5s;
		text-align: center;
		.tile {	
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			height: 100vh;
			background: linear-gradient(135deg, #5507A6, #9453D7);
			opacity: 0.9;
			width: 700px;
			height: 90vh;
			margin: 2% auto;
			justify-content: center;
		}
		h1 {
			font-size: 6rem;
			padding-top: 10%;
			font-weight: bold;
		}
		h2 {
			font-size: 10rem;
			text-transform: uppercase;
			margin-top:0;
		}
	}

	button {
		background: none;
		color: white;
		border: 3px white solid;
		padding: 10px;
		&:hover {
			background:$white;
			color: $mainPurple;
		}
	}
	.purple, .mobilePurple {
		background: linear-gradient(135deg, #5507A6, #9453D7);
		opacity: 0.9;
	}

	.questions {
		transition: all .5s;
		height: 100vh;
		display: none;
		padding-top: 100px;
		.formContainer {
			width: 700px;
			margin: 0 auto;
			padding: 20px;
			text-align: center;
			position: relative;
			z-index: 1;
			.purple {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				z-index: 2;
			}
			fieldset {
				position: relative;
				z-index: 3;
				border: 0;
			}

			input[type=radio] {
				opacity: 0;
			}
			
			input[type=radio]:hover + label {
				color: #FFFFFF;
				text-shadow: 0 0 1px #FFFFFF;
			}

			input[type=radio]:checked + label {
				color: #FFD700;
			}
			input[type=submit] {
				margin: 20px;
				background:none;
				color: $white;
				margin: 0 auto;
				margin-top: 40px;
				width: 200px;
				height: 50px;
				margin-bottom: 5%;
				position: relative;
				z-index: 3;
				border: 3px white solid;
				
			}
			input[type=submit]:hover {
				background: $white;
				color: $mainPurple;
				text-shadow: 0 0 1px $mainPurple;
			}
			.activity {
				h2 {
					margin-bottom: 0;
				}
				label {
					display: block;
				}
			}
		}
	}

	.answers {
		transition: all .5s;
		display: none;
		padding: 20px;
		.main-carousel {
			margin: 0;
		}
		.carousel-cell {
			position: relative;
			width: 700px;
			margin: 0 auto 50px;
			.flickity-prev-next-button {
				top: 100%;
			}
			.imageContainer {
				width: 100%;
				background-repeat: no-repeat;
				background-size: cover;
				padding-bottom: 50%;
				position:relative;
			}
			.overlay, .purple {
				position: absolute;
				top: 0;
				left: -1px;
				right: -1px;
				bottom: 0;
			}
			.mobilePurple {
				display: none;
				position: absolute;
				top: 0;
				left: -1px;
				right: -1px;
				bottom: 0;
			}

			.purple, .mobilePurple {
				width: 101%;
			}
			.overlay {
				margin-top: 10%;
				padding: 40px;
				h2 {
					text-transform: uppercase;
					letter-spacing: 4px;
					position: relative;
					bottom: 15%;
					margin-bottom: 10px;
				}
				p {
					position: relative;
					bottom: 10%;
				}
				.credit {
					font-size: 1.2rem;
				}
				.colContainer {
					font-weight: 300;
					position: absolute;
					bottom: 0;
					left: 40px;
					right: 40px;
					font-size: 1.2rem;
					border-top: 1px solid $white;
					padding: 20px 0;
					.col {
						float: left; 
						width: 50%;
						i {
							padding-right: 10px;
						}
					}
					.col2 {
						text-align: right;
					}
				}
			}
		}
	}

	footer {
		text-align: center;
		button {
			background: $mainPurple;
			color: white;
			border: 3px $mainPurple solid;
			padding: 10px;
			transition: all .2s;
			&:hover {
				background:$white;
				a {	
					color: $mainPurple;
				}
			}
		}
		p {
			color: grey;
			position: relative; 
			bottom: 10px;
			padding: 10px;
			a {
				color:  #666666;
			}
			a:hover {
				color: grey;
				text-shadow: 0 0 1px grey;
			}
		}
	}

@import "responsive";